@font-face {
	font-family: "al_iconfont";
	src: url('fonts/al_iconfont.eot?t=1520842739116'); /* IE9*/
	src: url('fonts/al_iconfont.eot?t=1520842739116#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/al_iconfont.woff?t=1520842739116') format('woff'), /* chrome, firefox */
	url('fonts/al_iconfont.ttf?t=1520842739116') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('fonts/al_iconfont.svg?t=1520842739116#iconfont') format('svg'); /* iOS 4.1- */
}
.al{
	font-family:"al_iconfont" !important;
	font-size:28px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.al-wodedizhi:before {content: "\e61f";}
.al-qietu19:before {content: "\e71e";}
.al-tuichu3:before {content: "\e622";}
.al-home1:before {content: "\e77e";}
.al-tag:before {content: "\e786";}
.al-mark:before {content: "\e781";}
.al-favor:before {content: "\e77b";}
.al-peoplefill:before {content: "\e782";}
.al-jinbi:before {content: "\e69f";}
.al-jinbi3:before {content: "\e64e";}
.al-weidian1:before {content: "\e762";}
.al-pinglun3:before {content: "\e6f7";}
.al-liaotian:before {content: "\e60a";}
.al-fuwu:before {content: "\e62f";}

.al-ai-share:before {content: "\e617";}
.al-buoumaotubiao10:before {content: "\e775";}
.al-chakan:before {content: "\e658";}
.al-check:before{content:"\e779"}
.al-chuangjianxiangmu:before{content:"\e6bb"}
.al-cuxiaohuodong:before{content:"\e698"}
.al-dingdan:before {content: "\e68a";}
.al-dianpu:before {content: "\e621";}
.al-dianpu1:before {content: "\e602";}
.al-duihao:before{content:"\e6e1";}
.al-goodsnewfill:before {content: "\e7bf";}
.al-goumaiguodehuiyuan:before{content:"\e75a"}
.al-guanlizhongxin1:before {content: "\e68e";}
.al-favor:before {content: "\e77b";}
.al-feiji:before {content: "\e75c";}
.al-fuwuzhongxin:before{content:"\e6bd"}
.al-home1:before {content: "\e77e";}
.al-hot1:before {content: "\e75e";}
.al-jiantou2-up:before {content: "\e736";}
.al-jiantouyoushuang-:before {content: "\e735";}
.al-jinbi:before {content: "\e69f";}
.al-jinbi3:before {content: "\e64e";}
.al-kefu1:before {content: "\e773";}
.al-lianxiren:before {content: "\e74f";}
.al-liaotian:before {content: "\e60a";}
.al-mark:before {content: "\e781";}
.al-mjiantou-copy:before {content: "\e742";}
.al-mjiantou-copy2:before{content:"\e744"}
.al-peoplefill:before {content: "\e782";}
.al-pinglun:before {content: "\e6f4";}
.al-pinglun3:before {content: "\e6f7";}
.al-qiangkehu:before{content:"\e6c7"}
.al-qietu19:before {content: "\e71e";}
.al-qitashouru:before {content: "\e78e";}
.al-set:before {content: "\e6fd";}
.al-shangpin:before {content: "\e750";}
.al-shuaxin4:before {content: "\e693";}
.al-tag:before{content: "\e786";}
.al-tagfill:before {content: "\e777";}
.al-tianmaohaoquan:before {content: "\e6d0";}
.al-trade-assurance:before {content: "\e6fa";}
.al-tuichu3:before {content: "\e622";}
.al-weidian1:before {content: "\e762";}
.al-weixin2:before {content: "\e76d";}
.al-wenzhang3:before {content: "\e74b";}
.al-wodedizhi:before {content: "\e61f";}
.al-wushuju:before{content:"\e78b"}
.al-xiaoshou:before {content: "\e749";}
.al-xing:before{content:"\e684";}
.al-xing1:before{content:"\e717";}
.al-xinzengdingdan:before {content: "\e74d";}
.al-yewujihui:before {content: "\e758";}
.al-yijianfankui:before {content: "\e6d9";}
.al-zhaopian:before{content:"\e628"}
@font-face{
	font-family: 'lyicon';
	src:  url('fonts/lyicon.eot');
	src:  url('fonts/lyicon.eot') format('embedded-opentype'),
	url('fonts/lyicon.ttf') format('truetype'),
	url('fonts/lyicon.woff') format('woff'),
	url('fonts/lyicon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fa,[class^="fa-"], [class*=" fa-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'lyicon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align:middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-file-text-o:before, .fa-baoming:before {
  content: "\ea02";
}
.fa-shopping-bag:before, .fa-bag:before {
  content: "\eb33";
}
.fa-newspaper-o:before, .fa-news:before {
  content: "\eac2";
}
.fa-star-o:before {
  content: "\eb61";
}
.fa-user:before, .fa-register:before {
  content: "\ebb9";
}
.fa-share:before {
  content: "\eb29";
}
.fa-digg:before {
  content: "\e9f2";
}
.fa-edit:before,
.fa-teacher:before {
  content: "\e9d1";
}
.fa-users:before,
.fa-friends:before,
.fa-newcustomer:before {
    content: "\ebbc";
}
.al-ai-share:before {content: "\e617";}
.al-buoumaotubiao10:before {content: "\e775";}
.al-chakan:before {content: "\e658";}
.al-chuangjianxiangmu:before{content:"\e6bb"}
.al-dingdan:before {content: "\e68a";}
.al-dianpu:before {content: "\e621";}
.al-dianpu1:before {content: "\e602";}
.al-duihao:before{content:"\e6e1";}
.al-goodsnewfill:before {content: "\e7bf";}
.al-hot1:before {content: "\e75e";}
.al-jiantou2-up:before {content: "\e736";}
.al-jiantouyoushuang-:before {content: "\e735";}
.al-kefu1:before {content: "\e773";}
.al-lianxiren:before {content: "\e74f";}
.al-mjiantou-copy:before {content: "\e742";}
.al-mjiantou-copy2:before{content:"\e744"}
.al-pinglun:before {content: "\e6f4";}
.al-set:before {content: "\e6fd";}
.al-shangpin:before {content: "\e750";}
.al-shuaxin4:before {content: "\e693";}
.al-tagfill:before {content: "\e777";}
.al-tianmaohaoquan:before {content: "\e6d0";}
.al-trade-assurance:before {content: "\e6fa";}
.al-weixin2:before {content: "\e76d";}
.al-wenzhang3:before {content: "\e74b";}
.al-xiaoshou:before {content: "\e749";}
.al-xing:before{content:"\e684";}
.al-xing1:before{content:"\e717";}
.al-xinzengdingdan:before {content: "\e74d";}
.al-yewujihui:before {content: "\e758";}
.al-yijianfankui:before {content: "\e6d9";}
.al-zhaopian:before{content:"\e628"}
