@font-face {
	font-family: "al_iconfont";
	src: url('fonts/al_iconfont.eot?t=1520842739116'); /* IE9*/
	src: url('fonts/al_iconfont.eot?t=1520842739116#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/al_iconfont.woff?t=1520842739116') format('woff'), /* chrome, firefox */
	url('fonts/al_iconfont.ttf?t=1520842739116') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('fonts/al_iconfont.svg?t=1520842739116#iconfont') format('svg'); /* iOS 4.1- */
}
.al{
	font-family:"al_iconfont" !important;
	font-size:28px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.al-dingdan:before {
	content: "\e68a";
}
.al-hot1:before {
	content: "\e75e";
}
.al-kefu1:before {
	content: "\e773";
}
.al-lianxiren:before {
	content: "\e74f";
}
.al-pinglun:before {
	content: "\e6f4";
}
.al-set:before {
	content: "\e6fd";
}
.al-shangpin:before {
	content: "\e750";
}
.al-tianmaohaoquan:before {
  content: "\e6d0";
}
.al-trade-assurance:before {
  content: "\e6fa";
}
.al-wenzhang3:before {
	content: "\e74b";
}
.al-xiaoshou:before {
	content: "\e749";
}
.al-xinzengdingdan:before {
	content: "\e74d";
}
.al-yewujihui:before {
	content: "\e758";
}
.al-wodedizhi:before {
    content: "\e61f";
}
.al-ai-share:before {
    content: "\e617";
}
.al-qietu19:before {
    content: "\e71e";
}
.al-tuichu3:before {
    content: "\e622";
}
.al-home1:before {
    content: "\e77e";
}
.al-tag:before {
    content: "\e786";
}
.al-mark:before {
    content: "\e781";
}
.al-favor:before {
    content: "\e77b";
}
.al-peoplefill:before {
    content: "\e782";
}
.al-xing:before {
    content: "\e684";
}
.al-jinbi:before {
    content: "\e69f";
}
.al-jinbi3:before {
    content: "\e64e";
}

@font-face{
	font-family: 'lyicon';
	src:  url('fonts/lyicon.eot');
	src:  url('fonts/lyicon.eot') format('embedded-opentype'),
	url('fonts/lyicon.ttf') format('truetype'),
	url('fonts/lyicon.woff') format('woff'),
	url('fonts/lyicon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.fa,[class^="fa-"], [class*=" fa-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'lyicon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align:middle;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-file-text-o:before, .fa-baoming:before {
    content: "\ea02";
}
.fa-shopping-bag:before, .fa-bag:before {
    content: "\eb33";
}
.fa-newspaper-o:before, .fa-news:before {
    content: "\eac2";
}
